doctype html
html(lang="ru")
    head
        title To-Do list
        link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css')
        script(src='https://code.jquery.com/jquery-3.5.1.min.js')
        script(src='https://cdn.jsdelivr.net/npm/sweetalert2@9')
        link(rel='stylesheet' href='/css/app.css')
        script(src='/js/app.js')
    body
        .container
            .row
                table.table.table-hover
                    thead.thead-dark
                        tr
                            th(scope="col") №
                            th(scope="col") Задача
                            th(scope="col") Время создания
                            th(scope="col") Действия
                        tr
                    tbody
                        each $task, $index in $tasks
                            include tr.blade.pug
            .row
                button.btn.btn-primary.col-2.m-auto.js-create Новая
